h1,h4,p,a{
    color: #fff;
}

ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  .btn{
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
  }
  .btn-light{
    background: rgba(255,255,255,.2);
  }
  .btn:hover{
    background: rgba(255,255,255,.2);
  }